<databaseChangeLog xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog
                      http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.1.xsd">

  <changeSet author="derek.shirley" id="loadData-users">
    <loadData encoding="UTF-8" file="/liquibase/data/springboot-test_user-data.csv" quotchar="&quot;"
      separator="," tableName="User">

      <column header="id" name="id" type="NUMERIC" />
      <column header="firstName" name="firstName" type="STRING" />
      <column header="lastName" name="lastName" type="STRING" />
    </loadData>
  </changeSet>
    <changeSet author="derek.shirley" id="loadData-roles">
    <loadData encoding="UTF-8" file="/liquibase/data/springboot-test_role-data.csv" quotchar="&quot;"
      separator="," tableName="Role">

      <column header="id" name="id" type="NUMERIC" />
      <column header="name" name="name" type="STRING" />
    </loadData>
  </changeSet>
    <changeSet author="derek.shirley" id="loadData-userroles">
    <loadData encoding="UTF-8" file="/liquibase/data/springboot-test_userroles-data.csv" quotchar="&quot;"
      separator="," tableName="UserRoles">

      <column header="userId" name="userId" type="NUMERIC" />
      <column header="roleId" name="roleId" type="NUMERIC" />
    </loadData>
  </changeSet>
</databaseChangeLog>